{% extends 'base.html' %}
{% load static %}



{% block content %}

<h3 align="center">Как пользоваться данным приложением?</h3>

<h4 align="center">Шаг 1 - Подготовить excel файл</h4>

<p>Необходимо подготовить файл с комментариями в формате excel (.xsxl). </p>
    <p><strong>ВАЖНО!!!</strong></p>
<p>Шапка таблицы с названиями колонок должна распологаться в первой строчке таблицы, как на рисунке 1 (см. рис.1).
    Если этого не сделать, то программа не сможет обработать комментарии</p>

<p><strong>Рис. 1</strong></p>
<p><img  src="{% static 'images/sample_excel.png' %}" width="750" height="400"></p>


<h4 align="center">Шаг 2 - Заполнение формы</h4>

<p>После подготовки файла перейдите на страницу "Загрузить файл". Перед вами окажется окно с формой, как на рисунке 2 (см. рис 2)
   </p>

<p><strong>Рис. 2</strong></p>
<p><img  src="{% static 'images/form.jpg' %}" width="750" height="400"></p>


<p>Заполните форму, как показано на рисунке (см. рис. 3). Поле автор не является обязательным, его можно не заполнять.
Поле "Название колонки" является обязательным, в него необходимо написать название колонки, в которой находятся комментарии </p>
<p><strong>ВАЖНО!!!</strong></p>
<p>Убедитесь, что название колонки с комментариями указано верно. <strong>Регистр букв имеет значение</strong>
   Если название колонки указать неправильно, программа не сможет обработать комментарии</p>

<p><strong>Рис. 3</strong></p>
<p><img  src="{% static 'images/filled_form.png' %}" width="750" height="400"></p>


<h4 align="center">Шаг 3 - Загрузка файла </h4>

<p>После заполнения полей нажмите кнопку "Загрузить", перед вами появится кнопка "обработать файл", как на рисунке 4 (см. рис.4). Нажмите на нее</p>
<p><strong>ВАЖНО!!!</strong></p>
<p>Обработка комментариев займет некоторое время, возможно, несколько минут. Не закрывайте приложение, пока обработка не будет завершена</p>

<p><strong>Рис. 4</strong></p>
<p><img  src="{% static 'images/btn-proc-file.png' %}" width="750" height="400"></p>


<h4 align="center">Шаг 4 - Скачивание файла</h4>

<p>Когда обработка файла будет завершена, появится окно с кнопкой "Скачать обработанный файл", как на рисунке 5 (см. рис 5). Вы можете нажать и файл будет скачать.</p>

<p><strong>Рис. 5</strong></p>
<p><img  src="{% static 'images/btn-download-file.png' %}" width="750" height="400"></p>


<p>Кроме того, файл обязательно появится во вкладке "Список файлов", и вы также сможете его скачать оттуда. Если по какой-то причине файл не был обработан, то
он будет иметь статус "Не обработан". Его можно обработать снова, если нажать на кнопку "Обработать"</p>

<p><strong>Рис. 6</strong></p>
<p><img  src="{% static 'images/list-texts.png' %}" width="750" height="400"></p>


{% endblock %}
