{% extends "base.html" %}
{% load static %}
{% block content %}

<link href="{% static '/images/about/form.jpg' %}">
<ol class="zebra">
{% for file in page_obj %}

    <li>Автор: {{ file.author }},
   <a href="{% url 'download_file_list' file.id %}">Скачать файл,</a>

    {% if  file.status %}
          Статус: Обработан
    {% else %}
        Статус: Не обработан
        <a href="{% url 'proc_file_list' file.id %}">Обработать файл,</a>
        {% endif %}

    <p>Дата загрузки: {{ file.date }}</p></li>


{% endfor %}
</ol>

    <ul class="pages">
        {% for p in page_obj.paginator.page_range %}
                   {% if page_obj.number == p %}
        <li class="page-num-selected">{{ p }}</li>
                   {% else %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
                   {% endif %}
        {% endfor %}
    </ul>

{% endblock %}
