{% extends "base.html" %}

{% block content %}

<h4>Загрузите файл с комментариями</h4>

<p>Заполните поля "Автор" (необязательное поле) и "Название колонки" (обязательное поле) </p>

<p><strong>Важно</strong></p>
<p>Проверьте: </p>
   <p> 1) файл находится в формате excel. Загружать можно только файлы excel; </p>
   <p> 2) Название колонки (например, "Сообщения") с комментариями должно находится в первой строчке таблицы в файле excel, например, A1 или B1, или C1;</p>
   <p> 3) название колонки с комментариями должно быть указано точно, иначе программа не сработает. </p>

<form action='' method="post" enctype="multipart/form-data">
     <p>{{ form.author }} </p>
     <p>{{ form.name_column }}</p>
     <p>{{ form.file }}</p>

    {% csrf_token %}

    <br><input type="submit" name="submit" value="Загрузить"><br/>
</form>

{% endblock %}
