body{
   background-color: white;
}

.container-menu{
    width: 1400px;
    height: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border: 1px solid black; /* Параметры границы */
    text-align: center;
    font-size: 24px;
    border-radius: 25px;
}

.container-content{
   width: 1200px;
   height: 100%;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   padding: 50px;;
   border: 1px solid black; /* Параметры границы */
   border-radius: 25px;

}

.download_file{
    text-align: center;
}

.process_file{
    text-align: center;
}

.pages{
    text-align: center;
    margin-bottom: 100px;

}

ul.pages li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    font-size: 22px;
    padding: 3px; /* Поля вокруг текста */
   }
